@font-face {
    font-family: BB Strata Pro SEF;
    src: url(../fonts/BBStrataProSEF-Bold.eot);
    src: url(../fonts/BBStrataProSEF-Bold.woff2) format("woff2"), url(../fonts/BBStrataProSEF-Bold.woff) format("woff")
}