/* Footer */

footer{
    margin-top: 80px;
}

.footer-container{
    width: 100%;
    margin: 0 auto;
}

.footer-sponsors{
    display: flex;
    flex-wrap: wrap;
    padding-left: 1px;
    padding-bottom: 1px;
}

.footer-sponsor-item{
    display: flex;
    flex: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #dadada;
    padding: 30px 15px;
}

.footer-sponsor-item img{
    max-height: 75px;
}

.sponsor-text{
    font-family: 'Gilroy-bold', sans-serif;
    color: black;
}

.copyright{
    font-family: 'Gilroy-light', sans-serif;
}

.footer-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.footer-list li, .footer-list a{
    font-family: 'Gilroy-light', sans-serif;
    color: #dadada;
    text-decoration: none;
    font-size: 14px;
}



/* NEWSLETTER SUBSCRIPTION */
.newsletter-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-form .form-label {
    font-family: 'Gilroy-bold', sans-serif;
    font-size: 16px;
    color: var(--text-color-primary);
    margin-bottom: 10px;
}

.input-group {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.input-group .form-control {
    flex: 1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--text-color-secondary);
    font-family: 'Gilroy-light', sans-serif;
}

.input-group .button--primary {
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    background-color: var(--comp-color-5);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.input-group .button--primary:hover {
    background-color: var(--comp-color-4);
}

/* Mobile */
@media (max-width: 576px) {
    .input-group {
        flex-direction: column;
    }

    .input-group .form-control {
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .input-group .button--primary {
        border-radius: 5px;
        width: 100%;
    }
}