/* Newsletter Row */

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px 0 20px;
}

/* Sub heading */
.sub-heading{
    font-family: BB Strata Pro SEF;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 40px;
    color: #fff;
    margin: 0;
    padding: 0;
}

.sub-heading-container{
    padding: 0 1.5rem 0 1.5rem
}

/* Latest Newsletter featured Section */
.newsletter-featured{
    flex: 0 0 50%;
    width :50%;
}

.newsletter-container{
    gap: 0.7rem;
}

.featured-news{
    height: 420px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px #00000026;
    border-radius: 10px;
    display: block;
    position: relative;
    text-decoration: none;
    background: none;
}

.featured-news::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    background: linear-gradient(359.37deg, var(--primary-color) -.89%, 
                color-mix(in srgb, var(--comp-color-5) 25%, transparent) 67.09%), 
                linear-gradient(0deg, #ffffff1a, #ffffff1a);
    border-radius: 10px;
}


.featured-news img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px !important;
    border: none !important;
}

.newsletter-featured-content{
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.text-color-yellow{
    color: var(--text-color-primary);
}

.text-small{
    font-family: 'Gilroy-Heavy', sans-serif;
    font-size: 14px;
}

.featured-title{
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
}

.featured-description{
    font-family: 'Gilroy', sans-serif;
    font-size: 15px;
    color: #fff;
}

/* Featured news list */
.featured-list{
    flex-direction: column;;
}
.featured-list-horizontal{
    min-height: 124px;
    position: relative;
    border-radius: 10px;
    background: var(--comp-color-5);
}

.featured-list-horizontal img{
    flex: 0 0 220px;
    aspect-ratio: 16/9;
    width: 220px;
    object-fit: cover;
    border-right: 2px solid var(--text-color-primary);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.featured-list > .featured-list-horizontal{
    margin-bottom: 18px;
}

.featured-list-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    transition: all ease-in .3s;
}

.featured-list-content:hover{
    background: var(--comp-color-4);
}