/* Team Banner */
.teams-banner{
    width: 100%;
    background: #fff;
    height: 70px;
    display: flex;
}

.teams-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;

}

.team-item{
    text-decoration: none;
    flex: 1;
    text-align: center;
}


.team-item img{
    height: 40px;
    vertical-align: middle;
}


/* Team banner scroll on smaller screens */
.teams-scroll-container{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-left: 100px;
}


.teams-scroll-container::-webkit-scrollbar {
    height: 1px;
    /* display: none; */
}

.teams-scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--comp-color-4);
    border-radius: 50px;
}

.teams-scroll-container::-webkit-scrollbar-track {
    background: var(--comp-color-1);
}

.team-item-scroll img{
    height: 70px;
    vertical-align: middle;
}

#teams-banner-scroll{
    display: block;
}

/* MEDIA QUERIES */

@media (max-width: 971px){
    #teams-banner{
        display: none;
    }
    
}

@media (min-width: 970px){
    #teams-banner-scroll{
        display: none;
    }
    
}
